/*
Theme Name: RHH
Theme URI: http://wordpress.org/
Description: RHH Consulting Group
Author: Keegan Berry
Author URI: http://keeganberry.com/
Tags: 
*/

@import url('reset.css');

html {
	background: url('img/bg.jpg') repeat; 
}

body {
	background: url('img/bg_page.jpg') repeat-x;
	margin:0px;
	padding:0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:11pt;
}

ul li {
	list-style-type:disc;
        margin-bottom:8px;
}

a:link, a:active, a:visited, a:hover {
	text-decoration:underline;	
	font-weight:bold;
}

	a:link {
		color:#2c725c;
	}
	
	a:active {
		color:#2c725c;
	}
	
	a:visited {
		color:#0b6c51;
	}
	
	a:hover {
		color:#004834;
		text-decoration:underline;	
	}


.head {
		background: url('img/head.jpg') no-repeat;
		display:block;
		width:767px;
		height:267px; /*267*/
		margin:0 auto;	
		position:relative;	
}
	.head .top {
		display:block;
		width:767px;
		padding-top:198px;
		height:0px;
		overflow:hidden;
		margin:0 auto;
	}
	.head .nav {
		margin:0px;
		padding:0px;
		display:block;	
		width:767px;		
	}
	.head .nav a:link, .head .nav a:active, .head .nav a:visited, .head .nav a:hover {
		text-decoration:none;	
		font-weight:bold;
		font-size:11pt;
	}	
	.head .nav a:hover {
		text-decoration:underline;	
	}		
		.head .nav ul {
			margin:0;
			padding:0 0 0 15px;
		}
			.head .nav ul li {
                                margin:0;
				list-style-type:none;
				display:block;
				width: 179px;
				text-align:center;
				padding-top:4px;
				float:left;
			}

.content, .foot .copyright {
	background: url('img/bg_content.jpg') repeat-y;
	width:637px;
	margin:0 auto;
	padding:20px 65px 10px 65px;
	clear:both;	
position:relative;
}
/*.content { 
       min-height: 445px;
}*/



h1 {
	margin:0;
	padding:0;
}
	h1#logo a {
		display:block;
		overflow:hidden;
		padding:166px 0 0 0;
		width:240px;
		height:0px;
		position:absolute;
		top:15px;
		left:15px;
	}
/*h1#logo a:hover {
	background: url('img/home.gif') no-repeat;
	background-position:95% 100%;
} enable this for home icon on hover */

h2, h3, h4, h5 {
	color:#2c725c;
	font-weight: 800;
}
strong, b {
	color: #000000;
	font-weight: 800;
}

	h2 a:link, h2 a:active, h2 a:visited, h2 a:hover {
		text-decoration:underline;	
		font-weight:bold;
	}

h2 {
	background: url('img/head_content.jpg') no-repeat;
	display:block;
	width:635px;
	height:32px;
	font-size: 22px;
	padding: 3px 0 0 5px;
	font-weight: 100;	

}

.page-id-17 h2 {
display:block;
 background: none;
 height:0px; overflow:hidden;
 padding: 34px 0 0 5px;
}


h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 15px;
}

hr {
	color:#d5f4e2;
	border-width: 1px;
	border-style: solid;
}

#request_form {
	margin:25px 0 0 0;
}

#request_form li{
	list-style-type:none;
	margin:0; padding:0;
	margin-left:0;
	text-indent:0;
	clear:both;
}
	#request_form label {
		width:100px;
		display:block;
		float:left;
		text-align:right;
		margin-right:10px;
		height:30px;
	}
	#request_form input {
		width: 145px;
	}
	#request_form input#title, #request_form input#address  {
		width: 175px;
	}
	#request_form input#zip {
		width: 55px;
	}
	#request_form #service {
		width: 275px;
		height:75px;
	}
	#request_form input#submit {
		width: 100px;
		height:25px;
	}

.foot {
	background: url('img/bg_content.jpg') repeat-y;
	display:block;
	width:767px;
	margin:0 auto;
	padding-top:10px;
}
	.foot .bot {
		background: url('img/bg_foot.jpg') no-repeat;
		display:block;
		width:767px;
		padding-top:33px;
		height:0px;
		overflow:hidden;
	}
	.foot hr {
		width:637px;
		padding:0;
		margin:0;
		margin-right: 65px;	
		margin-left: 65px;					
	}
	.foot .nav {
		margin:0px;
		padding:0px;
		display:block;	
		width:767px;
		text-align:center;
	}
		.foot .nav a:link, .foot .nav a:active, .foot .nav a:visited, .foot .nav a:hover {
			text-decoration:none;
			font-weight:bold;
			font-size:11px;
		}
		
			.foot .nav a:link {
				color:#2c725c;
			}
			
			.foot .nav a:active {
				color:#2c725c;
			}
			
			.foot .nav a:visited {
				color:#0b6c51;
			}
			
			.foot .nav a:hover {
				color:#004834;
				text-decoration:underline;	
			}	
		.foot .nav ul {
			padding:0 15px 0 32px;
		}
			.foot .nav ul li {
				list-style-type:none;
				display:block;
				width: 160px;
				text-align:center;
				float:left;
			}	
	.foot .copyright {
		font-size:11px;
		text-align:center;
		padding:18px 65px 0px 65px;	
		clear:both;		
	}

.edit_page a {
	background: url('img/edit.png') no-repeat;
	/*display:block;	
	width:16px;
	height:0;
	overflow:hidden;
	padding-top:16px;*/
	padding-right:20px;
	background-position:100% 0%;
}
.centered {
	text-align:center;
}
.clear {
	clear:both;
}

/* Captions & aligment */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
        margin:0 12px 12px 0;
}

.alignright {
	float: right;
        margin:0 0 12px 12px;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions & aligment */

#invalid-email, #invalid-name {
display:none;
}

.invalid_form_message {
color: red;
font-weight:bold;
margin:2px 0 10px 0;
}
.invalid_input {
border: solid red 2px;
}
#success_message {
border: solid 1px #E3E6A1;
background: #FEFFE8;
padding:10px;
}

#audio_menu {
display:block;
position:absolute;
right:7px;
top:0;
}
#audio_hide{
font-size: 10px;
font-weight: normal;
position:absolute;
top:14px;
right:8px;
display:block;
width:110px;
text-align:right;
}
#audio_hide:hover, #audio_hide:link, #audio_hide:active, #audio_hide:visited  {
color:#ffffff; /*#2c725c;*/
}
.hidden{
position:absolute;
top:7px !important;
right:8px;
}
.firstcol {
	margin:0 0 15px 20px;width:290px;float:left;
}

.secondcol {
	margin:0 0 15px 0;width:290px;float:right;
}

#projects_sidebar {
display:block;
	float: right;
        margin:0 -3px 12px 12px;
width: 145px;
text-align:right;
}
#projects_sidebar ul  {
list-style-type: none;
margin:0px;
text-indent:0;
}
#projects_sidebar ul li  {
list-style-type: none;
margin:3px 0 3px 0;/*15px;*/
}
#projects_sidebar{
font-size:11px;
font-weight:bold;
}

.completed-projects img {
padding:4px;
border: solid 1px #B0E3AF;
}

.completed-projects project-gallery {
width: 400px;
}

.completed-projects .project-gallery img {
padding:2px;
border: solid 1px #B0E3AF;
float:left;
margin: 3px;
}
.completed-projects .project-gallery img:hover, .completed-projects img:hover {
border: solid 1px #2c725c;
}
.content_bg {
padding:115px 40px 65px 40px;
display:block;
width:654px;
margin:-95px 0 -10px -49px;

}